
<div class="uk-grid-match uk-child-width-1-1@s" uk-grid="">
    <div>
        <form [formGroup]="containerForm">
            <app-select id="container" [options]="containerOptions" (changed)="switchContainer($event)"></app-select>
        </form>
    </div>
    <div>
        <form [formGroup]="filterForm" class="uk-grid-small uk-child-width-1-4 uk-padding-remove" uk-grid>
            <input type="hidden" value="1" formControlName="showForm">
            <ng-container *ngIf="filterForm.controls.showForm.value">    
                <ng-container formArrayName="filters" *ngFor="let filter of filterForm.controls.filters?.value; let i = index;">
                    <ng-container [formGroupName]="index">
                        <!-- <app-text-input [parentForm]="index" type="text" placeholder="Property" id="property"></app-text-input> -->
                        <app-select [parentForm]="index" [options]="propertyOptions" id="property"></app-select>
                        <app-select [parentForm]="index" [options]="operatorOptions" id="operator"></app-select>
                        <app-text-input [parentForm]="index" type="text" placeholder="Value" id="value"></app-text-input>
                        <div>
                            <div id="connector-options-wrapper">
                                <app-select [parentForm]="index" [options]="connectorOptions" id="connector"></app-select>
                            </div>
                            <button class="uk-button uk-button-default uk-float-right" (click)="removeFilterGroup(i)">X</button>
                        </div>
                    </ng-container>
                </ng-container>

                <div class="uk-width-1-1">
                    <button (click)="addFilterGroup()" class="uk-button uk-button-default uk-width-expand">Add</button>
                </div>
            </ng-container>
          </form>
    </div>
    <div>
        <button class="uk-button uk-button-primary uk-width-expand" (click)="applyFilter()" [disabled]="!filterForm.valid">Filter</button>
    </div>
    <div *ngFor="let log of logs">
        <div class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body" attr.uk-toggle="target: #modal{{log._id}}">
            <div class="uk-card-badge uk-label">{{ log.label }}</div>
            <h3 class="uk-card-title">{{ log.title }} <br> <span class="uk-text-muted uk-text-small">{{ log.creationDate | date: 'y/M/d hh:mm:ss' }}</span></h3>				
        </div>
        <div id="modal{{log._id}}" uk-modal>
            <div class="uk-modal-dialog">
                <div class="uk-modal-header">
                    <div class="uk-card-badge uk-label">{{ log.label }}</div>
                    <h3 class="uk-card-title">{{ log.creationDate | date: 'y/M/d hh:mm:ss' }}</h3>		
                </div>
                <div class="uk-modal-body" uk-overflow-auto>
                    <app-log-details [log]="log"></app-log-details>
                </div>
                <div class="uk-modal-footer">
                    <button class="uk-button uk-button-default uk-float-right" attr.uk-toggle="target: #{{log._id}}" type="button">Test</button>
                </div>
            </div>
        </div>
    </div>
</div>
