<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a *ngIf="_userService.isLoggedIn()" [routerLink]="['/dashboard']" routerLinkActive="uk-active">Logs</a></li>
            <li>
                <a href="#">{{ 'test' | translate }}</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a *ngIf="!_userService.isLoggedIn()" [routerLink]="['/user/login']" routerLinkActive="uk-active">Login</a>
            </li>
            <li>
                <a *ngIf="!_userService.isLoggedIn()" [routerLink]="['/user/register']" routerLinkActive="uk-active">Register</a>
            </li>
            <li>
                <a *ngIf="_userService.isLoggedIn()" [routerLink]="['/user/profile']" routerLinkActive="uk-active">{{ getUserName() }}</a>
            </li>
            <li >
                <a *ngIf="_userService.isLoggedIn()" href="javascript:;" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="uk-section">
    <router-outlet></router-outlet>
</div>

